body {
  position: relative;

  width: 100vw;
  height: 100vh;

  background: #ededed;

  &.modal:before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      pointer-events: none;
      content: '';

      background: rgba(0, 0, 0, .8);
  }

  &.crop {
    cursor: crosshair;
  }

  &.move {
      cursor: move;
  }

  &.draw {
    cursor: pointer;
  }
}
