aside.hint {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: none;

    width: 500px;
    max-height: 465px;
    padding: 20px;
    margin: auto;

    font-family: 'Roboto', sans-serif;

    background: #F4F3F2;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08), 0 3px 12px 0 rgba(0, 0, 0, 0.12);

    > h1 {
        padding: 0;
        margin: 30px 0 0 10px;

        font-size: 24px;
        font-weight: 600;
    }

    > h2 {
        padding: 0;
        margin: 30px 0 0 10px;

        font-weight: 600;
    }

    > ul {
       margin: 0;
       padding: 10px 0 0 20px;

       > li {
           margin-bottom: 10px;
           padding: 0;
           font-size: 14px;
           line-height: 1.4rem;
			
			> span {
				font-weight: 600;
			}

       }
   }

   > button {
       display: inline-block;
       font-size: 0.9em;
       color: #4285f4;
       cursor: pointer;
       background: none;
       border: none;
       text-transform: uppercase;

       &.js-close-agree {
           width: 100%;
           margin-top: 20px;
           padding-right: 20px;
           text-align: right;
       }

       &.js-close-hint {
           position: absolute;
           top: 10px;
           right: 5px;
           display: block;
           overflow: hidden;
           width: 40px;
           height: 32px;
           opacity: .3;
           cursor: pointer;
           text-indent: 40px;

           &:before,
           &:after {
               position: absolute;
               top: 0;
               left: 18px;
               content: '';
               height: 33px;
               width: 2px;
               background-color: #8C8888;
           }

           &:before {
               transform: rotate(45deg);
           }

           &:after {
               transform: rotate(-45deg);
           }

           &:hover {
               opacity: 1;
           }
       }

       &:focus {
           outline: none;
       }
   }

   &.open {
       display: block;
   }
}
