@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic';
/* stylelint-disable */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block;
}
body{
    line-height: 1;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #ededed;
}
body.modal:before{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    content: "";
    background: rgba(0, 0, 0, .8);
}
body.crop{
    cursor: crosshair;
}
body.move{
    cursor: move;
}
body.draw{
    cursor: pointer;
}
body.centered > canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
div#frame{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 5px;
    height: 5px;
    outline: 1000vw solid rgba(0, 0, 0, .8);
}
div#frame.show{
    display: block;
}
aside.hint{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 500px;
    max-height: 495px;
    padding: 20px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background: #F4F3F2;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .08), 0 3px 12px 0 rgba(0, 0, 0, .12);
}
aside.hint > h1{
    padding: 0;
    margin: 30px 0 0 10px;
    font-size: 24px;
    font-weight: 600;
}
aside.hint > h2{
    padding: 0;
    margin: 30px 0 0 10px;
    font-weight: 600;
}
aside.hint > ul{
    padding: 10px 0 0 20px;
    margin: 0;
}
aside.hint > ul > li{
    padding: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4rem;
}
aside.hint > ul > li > span{
    font-weight: 600;
}
aside.hint > button{
    display: inline-block;
    font-size: .9em;
    text-transform: uppercase;
    cursor: pointer;
    color: #4285f4;
    background: none;
    border: none;
}
aside.hint > button.js-close-agree{
    width: 100%;
    padding-right: 20px;
    margin-top: 20px;
    text-align: right;
}
aside.hint > button.js-close-hint{
    position: absolute;
    top: 10px;
    right: 5px;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 32px;
    text-indent: 40px;
    cursor: pointer;
    opacity: .3;
}
aside.hint > button.js-close-hint:before, aside.hint > button.js-close-hint:after{
    position: absolute;
    top: 0;
    left: 18px;
    width: 2px;
    height: 33px;
    content: "";
    background-color: #8C8888;
}
aside.hint > button.js-close-hint:before{
    transform: rotate(45deg);
}
aside.hint > button.js-close-hint:after{
    transform: rotate(-45deg);
}
aside.hint > button.js-close-hint:hover{
    opacity: 1;
}
aside.hint > button:focus{
    outline: none;
}
aside.hint.open{
    display: block;
}
aside#loader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: none;
    margin: auto;
    background: rgba(0, 0, 0, .8);
}
aside#loader > span{
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 55px auto;
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: white;
}
aside#loader > .spinner{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    margin: auto;
    animation: rotation 1.4s linear infinite;
    stroke: #4285f4;
}
aside#loader > .spinner > .circle{
    transform-origin: center;
    animation: turn 1.4s ease-in-out infinite;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
}
aside#loader.show{
    display: block;
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(270deg);
    }
}
@keyframes turn{
    0%{
        stroke-dashoffset: 187;
    }
    50%{
        transform: rotate(135deg);
        stroke-dashoffset: 46.75;
    }
    100%{
        transform: rotate(450deg);
        stroke-dashoffset: 187;
    }
}
aside.hint.shortcut{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 570px;
    height: 390px;
    padding: 20px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background: #F4F3F2;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .08), 0 3px 12px 0 rgba(0, 0, 0, .12);
}
aside.hint.shortcut > ul{
    width: 550px;
    margin: 30px 0 0;
    list-style-type: none;
    -webkit-column-count: 2;
}
aside.hint.shortcut > ul > li{
    width: 250px;
    margin-bottom: 10px;
}
aside.hint.shortcut > ul > li > span{
    font-weight: bold;
}
aside.settings{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 570px;
    height: 280px;
    padding: 20px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background: #F4F3F2;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .08), 0 3px 12px 0 rgba(0, 0, 0, .12);
}
aside.settings > h2{
    padding: 0;
    margin: 20px 0 0 10px;
    font-weight: 600;
}
aside.settings > form{
    margin: 40px 0 0 10px;
}
aside.settings > form > fieldset{
    display: inline-block;
    width: 270px;
}
aside.settings > form > fieldset > legend{
    padding: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
aside.settings > form > fieldset > ul{
    margin-top: 10px;
    margin-bottom: 35px;
}
aside.settings > form > fieldset > ul > li{
    display: block;
    margin-bottom: 10px;
}
aside.settings > form > fieldset > ul > li > label{
    display: inline-block;
}
aside.settings > form > fieldset > ul > li > input{
    margin-right: 10px;
}
aside.settings > form > fieldset:disabled{
    opacity: .5;
}
aside.settings > form > fieldset:disabled input, aside.settings > form > fieldset:disabled label{
    cursor: not-allowed;
}
aside.settings > form label{
    -webkit-user-select: none;
}
aside.settings > form label.capture{
    display: inline-block;
    margin-top: 36px;
    vertical-align: top;
}
aside.settings > form > input#serverinput, aside.settings > form > button#serverPath{
    position: absolute;
    left: 305px;
}
aside.settings > form > input#serverinput{
    top: 135px;
    display: none;
}
aside.settings > form > input#serverinput.visible{
    display: block;
}
aside.settings > form > button#serverPath{
    top: 95px;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: black;
    background: none;
    border: none;
    outline: none;
}
aside.settings > form > button#serverPath:hover{
    color: #4285f4;
}
aside.settings > button{
    display: inline-block;
    font-size: .9em;
    text-transform: uppercase;
    cursor: pointer;
    color: #4285f4;
    background: none;
    border: none;
}
aside.settings > button.js-close-agree{
    width: 100%;
    padding-right: 20px;
    margin-top: 20px;
    text-align: right;
}
aside.settings > button.js-close-hint{
    position: absolute;
    top: 10px;
    right: 5px;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 32px;
    text-indent: 40px;
    cursor: pointer;
    opacity: .3;
}
aside.settings > button.js-close-hint:before, aside.settings > button.js-close-hint:after{
    position: absolute;
    top: 0;
    left: 18px;
    width: 2px;
    height: 33px;
    content: "";
    background-color: #8C8888;
}
aside.settings > button.js-close-hint:before{
    transform: rotate(45deg);
}
aside.settings > button.js-close-hint:after{
    transform: rotate(-45deg);
}
aside.settings > button.js-close-hint:hover{
    opacity: 1;
}
aside.settings > button:focus{
    outline: none;
}
aside.settings.open{
    display: block;
}
aside.sign-in{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 300px;
    height: 210px;
    padding: 20px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    background: #F4F3F2;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .08), 0 3px 12px 0 rgba(0, 0, 0, .12);
}
aside.sign-in >h2{
    padding: 0;
    margin: 20px 0 0 10px;
    font-weight: 600;
}
aside.sign-in >form{
    margin: 40px 0 0 10px;
}
aside.sign-in >form > label{
    display: block;
    width: 220px;
    margin: 0 auto 20px;
}
aside.sign-in >form > label > input{
    width: 100%;
    height: 20px;
    font-size: 14px;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid #37aee2;
}
aside.sign-in >form >button{
    display: inline-block;
    font-size: .9em;
    text-transform: uppercase;
    cursor: pointer;
    color: #4285f4;
    background: none;
    border: none;
}
aside.sign-in >form >button[type="submit"]{
    display: block;
    margin: 40px auto;
}
aside.sign-in >form >button.js-close-agree{
    width: 100%;
    padding-right: 20px;
    margin-top: 20px;
    text-align: right;
}
aside.sign-in >form >button.js-close-hint{
    position: absolute;
    top: 10px;
    right: 5px;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 32px;
    text-indent: 40px;
    cursor: pointer;
    opacity: .3;
}
aside.sign-in >form >button.js-close-hint:before, aside.sign-in >form >button.js-close-hint:after{
    position: absolute;
    top: 0;
    left: 18px;
    width: 2px;
    height: 33px;
    content: "";
    background-color: #8C8888;
}
aside.sign-in >form >button.js-close-hint:before{
    transform: rotate(45deg);
}
aside.sign-in >form >button.js-close-hint:after{
    transform: rotate(-45deg);
}
aside.sign-in >form >button.js-close-hint:hover{
    opacity: 1;
}
aside.sign-in >form >button:focus{
    outline: none;
}
aside.sign-in.open{
    display: block;
}
aside#messageToUser{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    padding: 50px 20px;
    margin: auto;
    opacity: 0;
    background: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .08),0 3px 12px 0 rgba(0, 0, 0, .12);
    transition: all .3s;
}
aside#messageToUser > p{
    position: relative;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
aside#messageToUser > p:before{
    position: fixed;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    content: "";
    background: rgba(0, 0, 0, .8);
}
aside#messageToUser.show-hide{
    visibility: visible;
    opacity: 1;
    transition: all .3s;
}
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.switch > span{
    position: absolute;
    width: 107px;
    left: -106px;
    top: 9px;
}
.switch input{
    display: none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider{
    background-color: #2196F3;
}
input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}
/* Rounded sliders */
.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}
